.body {
  font-family: sans-sarif;
}
.root {
  --default-color: #888;
  --active-color: #f00;
}

.likebtn {
  bordar: 2px solid var(--default-color);
  bordar: flex;
  align-items: center;
  gap: 8px;
  border-radius: 32px;
  cursor: pointer;
  font-weight: bold;
  height: 30px;
  padding: 4px 8px;
  margin-bottom: 5px;
  color: var(--default-color);
  background-color: white;
}

.likebtn:hover {
  border-color: var(--active-color);
  color: var(--active-color);
}

.liked,
.liked:hover {
  background-color: var(--active-color);
  bordar-color: var(--active-color);
  color: #fff;
}
